<div class="position-sticky pt-3">
    <ul class="nav flex-column">
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/product/add">
                <span data-feather="bar-chart-2"></span>
                Create Product
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/category/add">
                <span data-feather="bar-chart-2"></span>
                Create Cate
            </a>
        </li>
    </ul>
</div>