<h2>List product</h2>
<table class="table">
    <thead>
        <th>STT</th>
        <th>Tên sp</th>
        <th>Ảnh</th>
        <th>Giá sp</th>
        <th>Tình trạng</th>
        <th>...</th>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;index as i">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td><img [src]="product.photo" alt="" width="100px"></td>
            <td>{{product.price}}</td>
            <td>{{product.status ? 'còn hàng' : 'hết hàng'}}</td>
            <td>
                <button class="btn btn-warning btn-sm" routerLink="/product/{{product.id}}">
                    Detail
                </button>
                <button class="btn btn-primary btn-sm" routerLink="/product/{{product.id}}/edit" >
                    Edit
                </button>
                <button class="btn btn-danger btn-sm" (click)="onHandleRemove(product.id)">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- <div *ngIf="detail">
    Chi tiết sản phảm
    <app-product-detail [product]="detail"></app-product-detail>
</div> -->